In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv('C:\\Users\\JYEON\\Desktop\\flearning\\leading_club\\lending-club-loan-data\\loan.csv',sep=",")

c:\users\jyeon\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
data.iloc[0:5,:]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data2=data[['loan_amnt','loan_status','grade','int_rate','term']]

In [15]:
data2.head()
data2.tail(10)

        loan_amnt  loan_status grade  int_rate        term
887369     4000.0   Fully Paid     B      8.67   36 months
887370     7500.0      Current     B      9.49   36 months
887371    10850.0  Charged Off     E     19.24   36 months
887372    12000.0      Current     B     11.99   36 months
887373    11575.0      Current     D     15.59   36 months
887374    10000.0      Current     B     11.99   36 months
887375    24000.0      Current     B     11.99   36 months
887376    13000.0      Current     D     15.99   60 months
887377    12000.0      Current     E     19.99   60 months
887378    20000.0      Current     B     11.99   36 months

In [24]:
len(data2)-data2.count()

loan_amnt      0
loan_status    0
grade          0
int_rate       0
term           0
dtype: int64

In [37]:
type(data2.iloc[:,0:1])

pandas.core.frame.DataFrame

In [38]:
type(data2['term'])

pandas.core.series.Series

In [40]:
data2.describe()

           loan_amnt       int_rate
count  887379.000000  887379.000000
mean    14755.264605      13.246740
std      8435.455601       4.381867
min       500.000000       5.320000
25%      8000.000000       9.990000
50%     13000.000000      12.990000
75%     20000.000000      16.200000
max     35000.000000      28.990000

In [42]:
data2.columns

Index(['loan_amnt', 'loan_status', 'grade', 'int_rate', 'term'], dtype='object')

In [43]:
data2=data2.dropna(how='any')

In [46]:
data2.shape

(887379, 5)

In [48]:
term_to_loan_amnt_dict={}
uniq_terms=data2["term"].unique()

In [49]:
for term in uniq_terms:
    loan_amnt_sum=data2.loc[data2['term']==term,'loan_amnt'].sum()
    term_to_loan_amnt_dict[term]=loan_amnt_sum

In [52]:
term_to_laon_amnt=pd.Series(term_to_loan_amnt_dict)

In [53]:
term_to_laon_amnt

 36 months    7.752507e+09
 60 months    5.341005e+09
dtype: float64

In [56]:
data2.iloc[:,1].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)

In [58]:
total_status_category=data2.iloc[:,1].unique()
bad_status_category=total_status_category[[1,3,4,5,6,8]]

In [59]:
data2['bad_loan_status']=data2['loan_status'].isin(bad_status_category)

In [61]:
bad_loan_status_to_grade=data2.loc[data2['bad_loan_status']==True,'grade'].value_counts()

In [69]:
bad_loan_status_to_grade.sortlevel()

c:\users\jyeon\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level=...)
  """Entry point for launching an IPython kernel.

A     3663
B    13456
C    19054
D    15859
E     9745
F     4383
G     1269
Name: grade, dtype: int64

In [71]:
data2['loan_amnt'].corr(data2['int_rate'])

0.1450230992988395

In [74]:
bad_loan_status_to_grade.to_csv('C:\\Users\\JYEON\\Desktop\\flearning\\leading_club\\lending-club-loan-data\\bad_loan.csv')